div.contenedor{
width: 100%;
display: flex;
justify-content: space-around;
}

div.contendor_form{
    width: 35%;
    padding: 3%;
}

div.contenedor_list{
    padding: 3%;
    width: 65%;
    display: flex;
    justify-content: center;
}

div.imagen{
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
